/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

input[type=radio] {
    margin-right: .25em;
}

input[type="text"]:read-only {
    background-color: lightgray;
}

input[type="password"]:read-only {
    background-color: lightgray;
}

.react-select {
    margin-bottom: 1em;
}

fieldset {
    border: 1px solid;
    border-color: lightgray;
    padding: .5em;
    margin-bottom: 1em;
    /*display: inline;*/
}

legend {
    font-size: 1em;
    width: inherit;
    padding: 0 .5em;
    margin-left: .25em;
}

label {
    padding-right: 1em;
}

code {
    color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.top-div {
    border-bottom: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    margin-bottom: 2em;
}

.left-div {
    width: 50%;
    float: left;
    padding-right: 4em;
}

.right-div {
    width: 50%;
    float: right;
    padding-left: 4em;
}